:root {
	--primary-color: #b00b69;
	--primary-light: #f9dbec;
	--secondary-color: #f0f8ff;
}

body {
	background-color: var(--primary-light);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 50px auto;
	width: 500px;
}

h1 {
	text-align: center;
}

a {
	color: var(--primary-color);
}

a:hover {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

select {
	border-radius: 25px;
	display: block;
	padding: 10px;
	width: 100%;
}

footer {
	font-family: "Courier New", Courier, monospace;
	border-top: 1px solid var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
	margin: 30px auto 0;
	text-align: center;
}

.container {
	background-color: var(--secondary-color);
	border-radius: 25px;
	color: var(--primary-color);
	padding: 10px 20px;
	box-shadow: 1px 1px 10px 15px rgba(0, 0, 0, 0.2);
}

.city {
	border-bottom: 1px dashed var(--primary-color);
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.city:last-child {
	border: none;
}

.city h2 {
	margin: 0;
}

.time {
	font-size: 32px;
}

.time small {
	font-size: 16px;
	line-height: 32px;
	vertical-align: middle;
}
